.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row{
    align-items: center;
    flex-direction: row;
    display: flex;
    /* justify-content: space-between; */
    gap: 16px;
}

.rownogap{
    align-items: center;
    flex-direction: row;
    display: flex;
}

.p1{
    font-size: 16px; color: #707070;
}

.p2{
    font-size: 20px; color: #c0a4a5;
}

.p3{
    font-size: 14px; color: #707070;
}

.w32{
    width: 32px;
}

.h8{
    height: 8px;
}

.h16{
    height: 16px;
}

.h32{
    height: 32px;
}

.col{
    /* display: flex; */
    width: 350px;
    min-width: 350px;
    flex-direction: column; 
    gap: 16px;
}

.grid32{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 16px;
    row-gap: 21px;
}

.grid22{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;
    row-gap: 4px;
}

.inputField{
    width: 171px;
    height: 36px;
    display: inline-block;
    border: 1px solid #c0a4a5;
    border-radius: 4px;
    box-sizing: border-box;
    /* outline-color: #c0a4a5; */
    padding-left: 10px;
    font-size: 16px;
    color: #c0a4a5;
}

/*the container must be positioned relative:*/
.custom_select {
    --radius: 4px;
    --baseFg: #c0a4a5;
    --baseBg: white;

    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 1px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: var(--radius);
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
      linear-gradient(-135deg, transparent 50%, var(--baseBg) 50%),
      linear-gradient(-225deg, transparent 50%, var(--baseBg) 50%),
      linear-gradient(var(--baseBg) 42%, var(--baseFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 0px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

.custom_btn{
    width: 100%;
    height: 46px;
    background-color: #c0a4a5;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
}

.daypicker{
    width: 118px;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #c0a4a5;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    color: #c0a4a5;
}
  