
.topStyle{
    /* top: 0px; */
    /* width: 1280px; */
    height: 80px;
    /* UI Properties */
    background: #F5F0E7 ;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    /* opacity: 1; */
}

.topRight{
    right: 6.6%;
    position: absolute;
}

.mobileMenuBtn{
    visibility: hidden;
}

.mainContent{
    left: 180px;
    position: absolute;
    flex-direction: column;
    top: 50%;
    transform: translate(0, -50%);
}

.mainContentStyle{
    /* Layout Properties */
    /* top: 80px; */
    /* left: 0px; */
    /* width: 1280px; */
    height: 582px;
    /* UI Properties */
    background: transparent url('./assets/photo-1612157777902-5382bc6e864b.jpeg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0 auto;
    position: relative;
}
.mainContentOneLable{
    /* Layout Properties */
    /* top: 265px; */
    /* left: 180px; */
    /* width: 80px; */
    /* height: 24px; */
    /* UI Properties */
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0 auto;
}
.mainContentTwoLable{
    /* Layout Properties */
    /* top: 289px; */
    /* left: 180px; */
    /* width: 362px; */
    /* height: 54px; */
    /* UI Properties */
    text-align: left;
    font-size: 36px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0 auto;
}
.mainContentThreeLable{
    /* Layout Properties */
    /* top: 343px; */
    /* left: 180px; */
    width: 445px;
    height: 72px;
    /* UI Properties */
    text-align: left;
    font-size: 24px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin: 0 auto;
    align-content: center;
}

.previewBtn{
    width: 112px;
    height: 46px;
    /* UI Properties */
    /* background: var(--unnamed-color-f5f0e7) 0% 0% no-repeat padding-box; */
    background: #F5F0E7;
    border-radius: 5px;
    border: 0;
    opacity: 1;
}

.resumeBtn{
    width: 112px;
    height: 46px;
    /* UI Properties */
    /* background: var(--unnamed-color-f5f0e7) 0% 0% no-repeat padding-box; */
    background: #C0A4A5;
    border: 0;
    border-radius: 5px;
    opacity: 1;
    color: white;
}

.resumeBtn:active{
    color: #707070;
}

.shareParent{
    right: 16px;
    position: absolute;
    flex-direction: column;
    top: 240px;
    width: 48px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
}

.shareBtn{
    width: 48px;
    height: 48px;
}

.topGroupBtn{
    background-color:transparent;
    color: #707070;
    text-align: center;
    border: none;
    font-size: 16px;
}
.topGroupBtn:active{
    background-color: wheat;
    /* border: 10px; */
}

.topContectBtn{
    width: 96px;
    height: 40px;
    /* UI Properties */
    border: 0.5px solid #907A7B;
    border-radius: 16px;

    background-color: transparent;
}

.centerContainer{
    align-items: center;
    justify-content: center;
    display: flex;
}

.lablefour{
    /* font: normal normal medium 28px/42px Source Han Sans TW; */
    text-align: left;
    font-size: 28px;
    letter-spacing: 0px;
    opacity: 1;
    color: #907A7B;
    margin: 0 auto;
}
.lablefive{
    /* font: normal normal medium 28px/42px Source Han Sans TW; */
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    opacity: 1;
    color: #C0A4A5;
    margin: 0 auto;
}
.gpmlist{
    height: 420px;
    gap: 30px;
}

.pageContainer{
    position: relative;
}

.pageContainer img{
    width: 350px;
    height: 420px;
    border-radius: 16px;
    object-fit: cover;
}

.pageContainer div{
    flex-direction: column;position: absolute; left: 24px; bottom: 24px; right: 24px;gap: 4px;
}
.pageContainer p{
    color: white;font-size: 16px; margin: 0 auto;
}

.contentThreeLeftImag{
    height: 628px;
    border-radius: 16px;
}

.content3{
    background-color: #F5F0E7;
    padding: 64px 85px 64px 85px;
    flex-direction: row;
    gap: 30px;
}

.content3 .right{
    flex-direction: column ;
    height: 628px;
}

.teacherResume{
    /* align-items: center; */
    display: flex;
    /* 水平置中 */
    align-items: center; 
    width: 540px;
    height: 116px;
    /* flex-direction: row; */
    /* position: relative; */
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    /* margin: 0 0 0 auto; */
    transition: all 0.2s linear;
    /* gap: 20px; */
}

.teacherResumeRow{
    padding-left: 32px;
    display: flex;
    /* 水平置中 */
    align-items: center; 
    flex-direction: row; 
    gap: 20px;
}

.teacherResume img{
    /* position: absolute; */
    /* left: 32px; */
    width: 68px;
    height: 68px;
    transition: all 0.2s linear;
    
}

.teacherResume p{
    margin: 0 auto;
}

.summery{
    display: none;
}

.teacherResume:hover{
    width: 635px;
    margin-left: -95px;
    height: 174px;
}

.teacherResume:hover .teacherResumeRow{
    padding-left: 48px;
}

.teacherResume:hover .summery{
    display: block;
}

.teacherResume:hover img{
    /* left: 48px; */
    width: 94px;
    height: 94px;
}

.content4{
    flex-direction: row-reverse;
    height: 572px;
    gap: 30px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

.grid-item1{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 350px;
    height: 444px;
    border-radius: 16px;
    object-fit: cover;
}


.grid-item2{
    width: 160px;
    height: 207px;
    border-radius: 16px;
    object-fit: cover;
}

.content5{
    flex-direction: row;
    height: 573px;
    background-color: #F5F0E7;
    gap: 30px;
}

.content5 .area1{
    flex-direction: column;
    width: 50%;
}

.content5 .area1 .content{
    width: 445px;
    float: right;
}

.content5 .area2{
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    height: 445px;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow: auto;
    column-gap: 30px;
}

.content5 .area2 img{
    width: 445px;
    height: 445px;
    border-radius: 16px;
    object-fit: cover;
}

.content6{
    height: 709px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content6 .area{
    flex-direction: row;
    height: 435px;
    display: flex;
    gap: 30px;
}

.class{
    width: 350px;
    height: 497px;
    border: 1px solid #C0A4A5;
    opacity: 1;
    border-radius: 16px;
    flex-direction: column;

}

.class img{
    height: 240px;
    width: 100%;
    border-radius: 16px 16px 0px 0px ;
    object-fit: cover;
    
}

.class p{
    margin: 0 auto;
}

.class button{
    width: 302px;
    height: 46px;
    /* UI Properties */
    /* text-align: left; */
    font-size: 20px;
    background-color: #C0A4A5;
    border-radius: 10px;
    border: 0;
    color:white;
    font-size: 20px;
    transition: all 0.2s linear;
}

.class button:hover{
    background-color: #C0A4A577;
}

.class button:active{
    width: 290px;
    height: 40px;
    margin-top: 3px; 
    margin-bottom: 3px;
}

.content7{
    height: 426px;
    background-color: #F5F0E7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-teachers{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 16px;
}

.grid-teachers .teacher{
    height: 116px;width: 350px;border-radius: 16px;background-color: white;position: relative;  display: flex;align-items: center;
}

.teacher img{
    height:60px; width:60px; left: 16px; position:absolute;
}

.teacher p{
    font-size: 16px; color: #907A7B;margin: 0 auto;
}

.teacher .content{
    position: absolute;
    left: 96px;  
}


:root {
    --star-size: 20px;
    --star-color: #fff;
    --star-background: #C0A4A5;
  }
  
  .Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times; 
    line-height: 1;
    
  }

  .Stars::before{
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }

  .pp {
    margin: 0 auto;
  }

  .content8{
    height: 301px;
    background-color: #907A7B;
  }

  .content8 .area{
    /* align-items: center; */
    justify-content: center;
    padding-left: 85px;
    padding-right: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .content8 .area p{
    text-align: left;
    margin: 0 0;
    font-size: 28px;
    color: white;
  }
    .content8 .area .inputbox{
        width: 278px;
        height: 40px;
        margin: 0 atuo;
        padding: 0 0 0 0;
        border-width: 0;
    }
    .content8 .area .submit{
        height: 40px;
        width: 72px;
        background-color:#C0A4A5 ;
        border: 0;
        margin: 0 0;
        padding: 0 0 0 0;
        font-size: 20px;
        color: white;
    }

    .content8 .area2{
        position: relative;
        height: 159px;
    }

    .content8 .area2 .left{
        position:absolute;
        display: flex;
        flex-direction: column;
        gap:  8px;
        width: 96px;
        left: 85px;
        top:0px
    }

    .content8 .area2 .right{
        position:absolute;
        display: flex;
        flex-direction: row;
        gap: 8px;
        top: 0px;
        right: 85px;
    }

  @media (max-width: 768px) {
    .shareParent{
        visibility: hidden;
    }

    .topContectBtn{
        visibility: hidden;
    }

    .topRight{
        height: 33px;
    }

    .topMenu{
        visibility: hidden;
    }

    .mobileMenuBtn{
        visibility: visible;
        background: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg) no-repeat;
        background-size: 33px;
        width: 33px;
        height: 33px;
        /* cursor: pointer; */
        border: none;
    }

    .mainContent{
        left: 4%;
    }

    .mainContentTwoLable{
        font-size: 28px;
    }
    .mainContentThreeLable{
        width: 345px;
        font-size: 20px;
    }

    .gpmlist{
        height: auto;
        flex-direction: column;
    }

    .contentThreeLeftImag{
        /* border-radius: 0; */
        display: none;
    }

    .content3{
        padding: 64px 15px 64px 15px;
    }
    .content3 .right{
        height: auto;
    }

    .teacherResume{
        width: 98%;
        height: 90px;
    }

    .teacherResume:hover{
        width: 98%;
        margin-left: 0;
        height: 142px;
    }

    .teacherResume .teacherResumeRow{
        padding-left: 16px;
    }

    .teacherResume:hover .teacherResumeRow{
        padding-left: 16px;
    }

    .teacherResume img{
        width: 48px;
        height: 48px;
    }

    .teacherResume:hover img{
        /* left: 48px; */
        width: 48px;
        height: 48px;
    }

    .content4{
        flex-direction: column;
        height: auto ;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .grid-container{
        display: flex;
        flex-direction: row;
        width: 94%;
        overflow: auto;
    }

    .grid-item1{
        grid-row-start: 1;
        grid-row-end: 1;
        width: 165px;
        height: 210px;
    }

    .grid-item2{
        width: 165px;
        height: 210px;
    }
    
    .content5{
        flex-direction: column;
        height: auto;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .content5 .area1{
        flex-direction: column;
        width: 100%;
    }

    .content5 .area1 .content{
        width: 100%;
        float: right;
    }

    .content5 .area2{
        justify-content: center;
        min-width: 375px;
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
    }

    .content5 .area2 img{
        width: 165px;
        height: 165px;
        border-radius: 16px;
        object-fit: cover;
    }

    .content6{
        height: auto;
        padding-bottom: 48px;
    }

    .content6 .area{
        flex-direction: column;
        height: auto;
        display: flex;
        gap: 30px;
    }

    .content7{
        height: auto;
        padding-bottom: 96px;
    }

    .grid-teachers{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        /* column-gap: 30px; */
        row-gap: 8px;
    }

    .content8{
        height: 353px;
    }

    .content8 .area{
        text-align: left;
        align-items: left;
        justify-content: left;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        /* justify-content: space-between; */
        height: auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .content8 .area p{
        font-size: 24px;
        margin: 0 0;
    }

    .content8 .area .inputbox{
        flex: 1;
        border-radius: 4px 0px 0px 4px;
    }

    .content8 .area2{
        height: 180px;
    }

    .content8 .area .submit{
        border-radius: 0px 4px 4px 0px;
    }

    .content8 .area2 .left{
        left: 15px;
    }

    .content8 .area2 .right{
        right: 15px;
    }

    .content8 .area2 p{
        left: 15px;
    }
  }
  
