
.h40{
    height: 40px;
}

.h32{
    height: 32px;
}

.p1{
    font-size: 28px; color: #907A7B; margin: 0 auto;
}

.main{
    height: 426px;
    background-color: #F5F0E7;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 16px;
}

.Btn{
    /* UI Properties */
    /* background: var(--unnamed-color-f5f0e7) 0% 0% no-repeat padding-box; */
    background: transparent;
    border-radius: 5px;
    border: 0;
    font-size: 50px;
    color: #907A7B;
}

.nextandpre{
    width: 345px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Btn:active{
    color: white;
}

.Btn:disabled{
    color: #C0A4A5;
}

@media (max-width: 768px) {

    .main{
        height: auto;
        padding-bottom: 56px;
    }
    
    .cgrid{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        /* column-gap: 30px; */
        row-gap: 8px;
    }
}

