

.main{
    position: relative;
}

.main img{
    width: 350px;
    height: 420px;
    border-radius: 16px;
    object-fit: cover;
}

.main div{
    flex-direction: column;position: absolute; left: 24px; bottom: 24px; right: 24px;gap: 4px;
}
.main p{
    color: white;font-size: 16px; margin: 0 auto;
}